@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300|Raleway:400,500,600,800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container{
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 15px;
}

a{
  text-decoration: none;
  //color: #000;
}

button,
button:active,
button:focus {
  outline: none;
  border: none;
  background-color: transparent;

}

$colorBrown: #736357;
$lightBrown: #c7b299;

      ////////////////   HEADER   //////////////

.header{
  width: 100%;
  height: 0;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;

  padding-top: 40px;

  transition: ease-in-out 0.3s;
}

.header__fixed{
  height: 70px;
  background-color: #3e3f3f;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transform: translate3d(0, 0, 0);
  padding-top: 5px;
  padding-bottom: 3px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav{
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 200;
  transition: ease-in-out 0.5s;
}

.nav__link{
  display: inline-block;
  margin: 0 15px;

  vertical-align: top;
  color: #fff;

  transition: color .2s linear;
  &:hover{
    color: $lightBrown;
  }
}

.nav__link-active{
  //max-width: 60px;
  border-bottom: 1px solid;
  color: $lightBrown;
}

.header__icon{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  &:first-of-type{
    margin: 0 30px 0 30px;
  }
  &:hover{
    color: $colorBrown;
  }
}

.nav-toggle{
  display: none;
  width: 30px;
  padding: 10px 0;
  position: absolute;
  top: 18px;
  right: 30px;
  z-index: 1;
  border: 0;
  background: none;
  cursor: pointer;
}

.nav-toggle-active .nav-toggle__item{
  background: none;
  &::before{
    transform-origin: left bottom;
    transform: rotate(45deg) translateX(3px);
  }
  &::after{
     transform-origin: top;
     transform: rotate(135deg);
   }

}

.nav-toggle__item{
  width: 100%;
  height: 3px;
  display: block;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  font-size: 0;
  color: transparent;
  transition: background .2s linear;
  &::before,&::after{
    content: "";
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    left: 0;
    z-index: 1;
    transition: transform .2s linear;
  }
  &::before{
    top: -8px;
  }
  &::after{
    top: 8px;
  }
}

////////////////   INTRO   //////////////

.intro{
  width: 100%;
  height: 100vh;
  background: url("../img/slider/header__bg-1.png") center no-repeat;
  background-size: cover;

  color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;

  transition: linear .4s;
}

.slider__button{
  position: absolute;
  top: 50%;
  height: 70px;
  width: 40px;
  font-size: 47px;
  color: #a3a2a0;
  cursor: pointer;
  &:hover{
    color: $lightBrown;
  }
}

.slider__button-next{
  right: 150px;
}

.slider__button-prev{
  left: 150px;
}

.intro__inner{
  margin: 100px auto 0 auto;
  text-align: center;
  width: 100%;
  max-width: 600px;
}

.intro__title{
  font-size: 52px;
  font-family: Raleway;
  font-weight: 800;
  margin:  5px 0 10px 0;
}

.intro__suptile{
  font-size: 36px;
  font-family: Raleway;
  font-weight: 600;
}

.intro__subtitle{
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 200;
  margin-bottom: 60px;
}

.inner__btn{
  padding: 20px 40px;
  background-color: #998675;
  color: #fff;
  text-transform: uppercase;
  font-family: Raleway;
  font-weight: 800;
  border-radius: 5px;
  border-bottom: 3px solid $colorBrown;
  transition: background-color .2s;
  &:hover{
    background-color: $colorBrown;
  }
}

.slider__dots{
  position: absolute;
  top: 82%;
  right: 48%;
  width: 60px;
  //height: 100%;
  margin: 100px auto 0 auto;
}

.slider__dot{
  margin: 0 2px;
  padding: 0px 3px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: #fff;
  color: transparent;
  font-size: 7px;
}

.active__dot{
  background-color: transparent;
  border: 2px solid $lightBrown;
  transition: ease-in-out .3s;
}

////////////////   SERVICES   //////////////

.services{
  margin-top: 90px;
  display: flex;
  margin-bottom: 40px;
}

.card{
  width: 280px;
  text-align: center;
  margin: 0 auto;
  &:after{
    content: "";
    display: block;
    width: 70px;
    height: 3px;

    background-color: #f1eee9;
    margin: 30px auto;
  }
  &:hover .services__icon,
  &:hover .services__title, {
    color: $lightBrown;
  }
  &:hover::after{
    background-color: $lightBrown;
  }
}

.services__icon{
  font-size: 40px;
  color: #555555;
}

.services__title{
  margin: 25px 0 20px 0;

  font-size: 22px;
  color: #555555;
  font-family: Raleway;
  font-weight: 800;
}

.services__text{
  color: #8c8c8c;
  font-family: Montserrat;
  font-weight: 200;
  font-size: 14px;
  &:hover{
    color: #8c8c8c;
  }
}

////////////////   REALIZATION   //////////////

.section__header {
  text-align: center;
  max-width: 760px;
  width: 100%;
  margin: 0 auto 50px auto;
}
.section__title{
  font-size: 30px;
  font-family: Raleway;
  font-weight: 800;
  color: #555555;

  margin-bottom: 30px;
}

.section__subtitle {
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 200;
  color: #8c8c8c;
}

.realization__inner{
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
}

.br_img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.realization__footer{
  min-height: 150px;
  height: 100%;
  width: 100%;
  background: linear-gradient(120deg, #231c1a, #4e3427);
}

.realization__flex{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.realization__wordPress{
  font-family: Raleway;
  font-weight: 400;
  font-size: 28px;
  color: $lightBrown;
  padding:55px 0 10px 0;
}

.realization__wordPress-themes{
  color: #fff;
}

.realization__wordPress-text{
  font-family: Montserrat;
  font-weight: 200;
  font-size: 18px;
  color: #615855;
}

.realization__btn-container{
  margin-top: 75px;
}

.realization__btn{
  padding: 20px 30px;
  margin-top: 10px;
  background-color: #998675;
  border-bottom: 3px solid $colorBrown;
  color: #fff;
  text-transform: uppercase;
  font-family: Raleway;
  font-weight: 800;
  border-radius: 5px;
  transition: background-color .2s;
  &:hover{
    background-color: $colorBrown;
  }
}

////////////////   PROJECTS   //////////////

.projects{
  margin-top: 90px;
}

.projects__list{
  display: flex;
  justify-content: center;
}

.projects__list-item{
  padding: 10px 25px;
  margin: 0 10px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  color: #8c8c8c;
  &:hover{
    background-color: #998675;
    color: #fff;
  }
}

.gallery{
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gallery__item{
  background-color: #fbfaf8;
  height: 340px;
  margin-bottom: 40px;
  position: relative;
  //transition: all 1s;
  &:hover{
    background-color: #362f2d;
  }
  &:hover .gallery__item-title{
    color: #fff;
  }
  &::before{
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    left: 25px;
    top: 226px;
    transform: rotate(45deg);
    border: 11px solid;
    border-color: #fff transparent transparent #fff;
  }
  &:hover::before{
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    left: 25px;
    top: 226px;
    transform: rotate(45deg);
    border: 11px solid;
    border-color: #362f2d transparent transparent #362f2d;
  }
  &:last-of-type{
    margin-bottom: 60px;
  }
}

.gallery__item-hide{
  display: none;
  transition: ease-in-out 0.4s;
}

.gallery__item-img{
  &:hover .gallery__icons{
    display: block;
  }
}

.gallery__photo{
  width: 370px;
  height: 237px;
}

.gallery__icons{
  display: none;
  position: absolute;
  left: 42%;
  top: 33%;
  color: #fff;
  font-size: 25px;
}

.gallery__icon{
  display: inline-block;
  margin-right: 10px;
  &:hover{
    color: $lightBrown;
  }
}

.gallery__item-title{
  font-family: Raleway;
  font-weight: 500;
  font-size: 20px;
  color: $lightBrown;
  padding: 26px 0 0 30px;
}

.gallery__item-tag{
  font-family: Montserrat;
  font-weight: 200;
  font-size: 14px;
  color: #d1d1d1;
  padding: 5px 0 0 30px;
}

.gallery__btn-container{
  text-align: center;
}


.gallery__btn{
  margin-top: 30px;
  padding: 20px 40px;
  color: #fff;
  background-color: #998675;
  text-transform: uppercase;
  font-family: Raleway;
  font-weight: 800;
  border-radius: 5px;
  border-bottom: 3px solid $colorBrown;
  transition: background-color .2s;
  &:hover{
    background-color: $colorBrown;
  }
}

////////////////   VIDEO   //////////////

.video {
  margin-top: 100px;
  width: 100%;
  height: 100%;
  position: relative;
}

.video .section__title, .video .section__subtitle{
  color: #fff;
}

.video__text{
  z-index: 2;
  position: absolute;
  top: 55%;
  left: 50%;
  margin-left: -372px;
  //color: #fff;
}

.video__frame{
  width:100%;
  height:700px;
  border: none;
  outline: none;
}

////////////////   MOBIL   //////////////

.section__mobil{
  background-color: #fbfaf8;
}

.mobil{
  display: flex;
  padding-top: 80px;
}

.mobil__img-iphone{
  height: 100%;
  width: 100%;
}

.mobil__content{
  margin-top: 100px;
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 200;
  max-width: 670px;
}

.mobil__title{
  font-size: 30px;
  font-family: Raleway;
  font-weight: 800;
  color: #555555;
  margin-bottom: 40px;
}

.mobil__list-item{
  list-style: none;
  margin: 25px 0 25px 0;
  //position: relative;
  &:first-of-type{
    margin-top: 45px;
  }
  &::before{
    content: ">";
    margin: 0 30px 0 40px;
    padding: 0 6px;
    border-radius: 50%;
    background-color: $lightBrown;
    color: #fff;
    font-size: 18px;
  }
}

////////////////   COUNTERS   //////////////

.section__counters{
  height: 300px;
  width: 100%;
  background: linear-gradient(120deg, #231c1a, #4e3427);
}

.container__counter{
  display: flex;
  //flex-wrap: wrap;
  justify-content: center;
}

.counter{
  text-align: center;
  margin: 70px 35px 0 35px;
  &::after{
    content: "";
    margin: 30px auto 0 auto;
    display: block;
    width: 30px;
    height: 2px;
    background-color: #fff;
  }
}

.counter__icon{
  color: $lightBrown;
  font-size: 42px;
}

.counter__number{
  font-family: Montserrat;
  font-weight: 200;
  font-size: 48px;
  color: #fff;
  margin: 30px 0 20px 0;
}

.counter__name{
  font-family: Montserrat;
  font-weight: 200;
  font-size: 14px;
  color: $lightBrown;
  text-transform: uppercase;
}

////////////////   POSTS   //////////////

.section__posts{
  margin-top: 90px;
}

.post__list{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.post{
  width: 372px;
  border: 1px solid #f8f8f8;
  margin-bottom: 40px;
  &:hover .post__inner{
    background-color: $colorBrown;
  }
  &:hover .post__title{
    color: $lightBrown;
  }
  &:hover .post__date{
    background-color: $lightBrown;
  }
  &:hover .post__date-month{
    background-color: #a48d72;
  }
  &:hover .post__text{
    color: #fff;
  }
  &:hover .post__img{
    filter: contrast(0.5);
  }
}

.post__bg{
  position: relative;
  margin-bottom: -4px;
}

.post__img{
  width: 370px;
}

.post__date{
  font-family: Montserrat;
  font-weight: 200;
  font-size: 24px;
  color: #fff;
  background-color: #363636;
  border-radius: 5px;
  text-align: center;
  position: absolute;
  left: 20px;
  top: 20px;
  padding-top: 7px ;
  line-height: 1.35;
}

.post__date-month{
  display: block;
  font-size: 12px;
  background-color: #252525;
  padding: 5px 9px 5px 9px;
  border-radius: 0 0 5px 5px;
}

.post__inner{
  padding: 30px 31px;
}

.post__title{
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  color: #a4a4a4;
  margin: 0 0 25px 0;
}

.post__text{
  font-family: Montserrat;
  font-weight: 200;
  font-size: 14px;
  color: #8c8c8c;
  margin-bottom: 35px;
}

.post__btn{
  font-family: Montserrat;
  font-weight: 200;
  font-size: 14px;
  color: $lightBrown;
  position: relative;
  &::after{
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    left: 88px;
    top: 6px;
    transform: rotate(136deg);
    border: 4px solid;
    border-color: $lightBrown transparent transparent $lightBrown;
  }
  &:hover{
    color: #fff;
  }
  &:hover::after{
    border-color: #fff transparent transparent #fff;
  }
}

////////////////   POSTS   //////////////

.section__partners{
  background: url("../img/partners__bg.png") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 550px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.parnters__list{
  display: flex;
  justify-content: space-between;
}

.parnter__logo{
  line-height: 20;
  margin-top: 15%;
}

////////////////   FOOTER   //////////////

.footer{
  background-color: #191919;
  margin-top: -19px;
}

.blocks__list{
  display: flex;
  justify-content: space-between;
}

.block{
  width: 270px;
  padding-top: 80px;
}

.footer__logo{
  margin-bottom: 30px;
}

.footer__text{
  color: #555555;
  margin-bottom: 30px;
  font-family: Montserrat;
  font-weight: 200;
}

.footer__btn{
  font-family: Montserrat;
  font-weight: 200;
  font-size: 14px;
  color: #fff;
  position: relative;
  &::after{
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    left: 88px;
    top: 6px;
    transform: rotate(136deg);
    border: 4px solid;
    border-color: #fff transparent transparent #fff;
  }
  &:hover{
    color: $lightBrown;
  }
  &:hover::after{
    border-color: $lightBrown transparent transparent $lightBrown;
  }
}

.block__title{
  color: #ffffff;
  font-family: Raleway;
  font-weight: 800;
  font-size: 24px ;
  margin-bottom: 35px;
}

.footer__to__post{
  border-bottom: 1px solid #252525;
  padding-bottom: 25px;
  &:last-of-type{
    border-bottom: none;
  }
  &:hover .footer__post__data,
  &:hover .footer__twit__data{
    color: #fff;
  }
  &:hover .to__post,
  &:hover .to__twit{
    color: $lightBrown;
  }
}


.footer__post__data{
  color: #363636;
  font-family: Montserrat;
  font-weight: 200;
  font-size: 12px ;
  display: block;
  margin: 22px 0 15px 0;
}

.to__post{
  color: #555555;
  font-family: Montserrat;
  font-weight: 200;
  font-size: 14px ;
}

.footer__twit__data{
  color: #363636;
  font-family: Montserrat;
  font-weight: 200;
  font-size: 12px ;
  display: block;
  margin: 10px 0 0 0;
}

.to__twit{
  color: #555555;
  font-family: Montserrat;
  font-weight: 200;
  font-size: 14px ;
  display: block;
  margin-top: 21px;
}

.dribbble__img{
  display: inline-block;
}

//.underfooter{
//  margin-top: 80px;
//  background-color: #111111;
//  color: #555555;
//}

@media (max-width: 1230px){

}

@media (max-width: 990px){
  ////HEADER////

  .header__fixed-active{
    height: 290px;
  }

  .header__inner{
    align-items: start;
  }

  .header__logo{
    margin-top: 5px;
  }

  .logo{
    width: 100%;
  }

  .nav{
    display: none;
    width: 100%;
    //position: absolute;
    top: 100%;
    left: 0;
    padding:15px 16% 0 0;
    text-align: center;
  }

  .nav__active{
    display: block;
  }

  .nav__link{
    display: block;
    margin: 0;
    padding: 8px 20px;
  }

  .header__icon{
    display: block;
    margin: 0;
    padding: 5px 20px;
  }

  .nav-toggle{
    display: block;
  }

  .slider__button-next{
    right: 50px;
  }

  .slider__button-prev{
    left: 50px;
  }

  .intro__suptile{
    font-size: 30px;
  }

  .intro__title{
    font-size: 48px;
  }

  .inner__btn{
    font-size: 14px;
    padding: 15px 30px;
  }

  .slider__dots{
    right: 46%;
  }

  ////SERVICES////
  .services{
    flex-wrap: wrap;
  }

  ////REALIZATION////


  ////PROJECTS////
  .projects__list{
    flex-wrap: wrap;
  }

  .mobil__img{
    margin-top: 30px;
  }

  ////VIDEO////

  .video__frame{
    width: 100%;
    height: 600px;
  }

  ////MOBIL////

  .mobil{
    padding-top: 30px;
  }

  .mobil__arow{
    top: 5px;
  }

  ////COUNTERS////
  .counter__icon{
    font-size: 38px;
  }

  .counter__number{
    font-size: 44px;
  }

  .counter__name{
    font-size: 12px;
  }

  .counter{
    margin: 70px 25px 0 25px;
  }

  ////PARTNERS////
  .parnters__list{
    flex-wrap: wrap;
  }

  .parnter__logo{
    margin: 0 10% 0 10%;
    line-height: 5;
  }

  ////FOOTER////
  .blocks__list{
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .block{
    margin: 0 5%;
  }
}

@media (max-width: 790px){
  ////SECTION__HEADER////

  .section__header{
    margin-bottom: 25px;
  }

  .section__title{
    font-size: 24px;
  }

  .section__subtitle{
    font-size: 14px;
  }

  ////INTRO////


  .slider__button-next{
    right: 0;
  }

  .slider__button-prev{
    left: 0;
  }

  ////SERVICES////

  .services__icon{
    font-size: 35px;
  }

  .services__title{
    font-size: 20px;
  }

  ////COUNTERS////

  ////REALIZATION////

  .realization__footer{
    padding-bottom: 40px;
  }

  .realization__flex{
    flex-direction: column;
    justify-content: start;
    text-align: center;
  }

  .realization__btn-container{
    margin-top: 30px;
  }

  .realization__btn{
    font-size: 14px;
    padding: 15px 20px;
  }

  .realization__wordPress{
    font-size: 24px;
    padding-top: 30px;
  }

  ////PROJECTS////

  .projects{
    margin-top: 40px;
  }

  .projects__list{
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .projects__list-item{
    width: 200px;
    margin: 5px auto;
  }

  .gallery__btn{
    font-size: 14px;
    padding: 15px 20px;
  }

  .gallery__item-title{
    font-size: 18px;
  }

  ////VIDEO////

  .video{
    margin-top: 60px;
  }

  .video .section__title, .video .section__subtitle{
    color: #000;
  }

  .video__text{
    position: relative;
    max-width: 700px;
    margin: 0 auto 20px auto;
    top: 0;
    left: 0;
  }

  .video__frame{
    width: 100%;
    height: 430px;
  }

  ////MOBIL////

  .mobil__content{
    padding: 0;
    margin: 0;
    font-size: 14px;
  }

  .mobil__title{
    font-size: 24px;
    margin-bottom: 20px;
  }

  .mobil__img{
    margin-top: 0;
    min-height: 310px;
    height: 100%;
    //position: relative;
  }

  .mobil__list-item{
    margin: 15px 0 15px 0;
    &:first-of-type{
      margin-top: 20px;
    }
  }

  ////COUNTERS////

  .section__counters{
    margin-top: -4px;
    height: 170px;
  }

  .container__counter{
    justify-content: space-around;
  }

  .counter{
    margin: 30px 0 0 0;
    &::after{
      margin-top: 15px;
    }
  }

  .counter__icon{
    font-size: 26px;
  }

  .counter__number{
    font-size: 30px;
    margin: 0 0 0 0;
  }

  ////POSTS////

  .section__posts{
    margin-top: 40px;
  }

  ////PARTNERS////

  .section__partners{
    height: 50vw;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .parnter__logo-img{
    max-height: 127px;
    height: 16vw;
  }

  ////PARTNERS////

  .blocks__list{

  }

  .block{
    margin: 0 2%;
  }
}

@media (max-width: 658px){
  ////MOBIL////
  .mobil{
    text-align: center;
  }

  .mobil__img{
    display: none;
  }
}

@media (max-width: 567px){
  ////HEADER////

  .intro__suptile{
    font-size: 25px;
  }

  .intro__title{
    font-size: 38px;
  }

  .inner__btn{
    font-size: 12px;
    padding: 10px 20px;
  }

  .slider__dots{
    right: 43%;
  }

  ////SECTION////
  .section__title{
  font-size: 22px;
  }

  .section__subtitle{
    font-size: 14px;
  }

  ////SERVICES////
  .services{
    flex-wrap: wrap;
    margin-top: 40px;
  }

  .card{
    &::after{
      margin: 15px auto 30px auto;
    }
  }

  .services__icon{
    font-size: 30px;
  }

  .services__title{
    font-size: 18px;
    margin: 10px 0 10px 0;
  }

  ////REALIZATION////

  .realization__btn{
    padding: 10px 15px;
  }

  ////PROJECTS////

  .gallery__item{
    height: 270px;
    margin-bottom: 20px;
    &::before{
      top: 186px;
    }
    &:hover::before{
      top: 186px;
    }
    &:last-of-type{
      margin-bottom: 30px;
    }
  }

  .gallery__photo{
    width: 308px;
    height: 197px;
  }

  .gallery__item-title{
    font-size: 16px;
    padding-top: 15px;
  }

  .gallery__item-tag{
    font-size: 12px;
  }

  .gallery__btn{
    padding: 10px 15px;
  }

  ////VIDEO////

  .video{
    margin-top: 50px;
  }

  .video__frame{
    width: 100%;
    height: 280px;
  }

  ////MOBIL////

  .mobil__content{
    font-size: 12px;
  }

  ////COUNTERS////

  .section__counters{
    height: 150px;
  }

  .container__counter{
    flex-wrap: wrap;
  }

  .counter{
    width: 50px;
  }

  .counter__icon{
    font-size: 16px;
  }

  .counter__number{
    font-size: 18px;
  }

  .counter__name{
    font-size: 10px;
  }

  ////POSTS////

  .post{
    width: 310px;
  }

  .post__img{
    width: 308px;
  }

  ////PARTNERS////

  .section__partners{
    height: 50vw;
  }

  .parnter__logo{
    line-height: 2;
  }

  .parnter__logo-img{
    height: 16vw;
    max-height: 90px;
  }

  ////PARTNERS////

  .footer__logo-img{
    height: 12vw;
  }

  .block{
    padding-top: 40px;
  }

  .footer__text{
    font-size: 12px;
  }

  .footer__btn{
    font-size: 12px;
    &::after{
      left: 75px;
      top: 4px;
    }
  }

  .block__title{
    font-size: 20px;
  }

  .to__post{
    font-size: 12px;
  }

  .to__twit{
    font-size: 12px;
  }
}










