@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300|Raleway:400,500,600,800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
}

a{
  text-decoration: none;
  //color: #000;
}

$colorBrown: #736357;

      ////////////////   HEADER   //////////////

.header{
  width: 100%;
  height: 0;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;

  margin-top: 40px;
}

.header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav{
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 200;
}

.nav__link{
  display: inline-block;
  margin: 0 15px;

  vertical-align: top;
  color: #fff;

  transition: color .2s linear;
  &:hover{
    color: #c7b299;
  }
}

.header__icon{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  &:first-of-type{
    margin: 0 30px 0 60px;
  }
  &:hover{
    color: $colorBrown;
  }
}

////////////////   INTRO   //////////////

.intro{
  width: 100%;
  height: 100vh;
  background: url("../img/header__bg.png") center no-repeat;
  background-size: cover;

  color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro__inner{
  margin: 100px auto 0 auto;
  text-align: center;
  width: 100%;
  max-width: 600px;
}

.intro__title{
  font-size: 52px;
  font-family: Raleway;
  font-weight: 800;
  margin:  5px 0 10px 0;
}

.intro__suptile{
  font-size: 36px;
  font-family: Raleway;
  font-weight: 600;
}

.intro__subtitle{
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 200;
  margin-bottom: 60px;
}

.inner__btn{
  padding: 20px 40px;
  background-color: #998675;
  border-bottom: 3px solid #736357;
  color: #fff;
  text-transform: uppercase;
  font-family: Raleway;
  font-weight: 800;
  border-radius: 5px;
  transition: background-color .2s;
  &:hover{
    background-color: $colorBrown;
  }
}

////////////////   SERVICES   //////////////

.services{
  margin-top: 90px;
  display: flex;
  margin-bottom: 40px;
}

.card{
  width: 280px;
  text-align: center;
  margin: 0 auto;
  &:after{
    content: "";
    display: block;
    width: 70px;
    height: 3px;

    background-color: #f1eee9;
    margin: 30px auto;
  }
  &:hover .services__icon,
  &:hover .services__title, {
    color: #c7b299;
  }
  &:hover::after{
    background-color: #c7b299;
  }
}

.services__icon{
  font-size: 40px;
  color: #555555;
}

.services__title{
  margin: 25px 0 20px 0;

  font-size: 22px;
  color: #555555;
  font-family: Raleway;
  font-weight: 800;
}

.services__text{
  color: #8c8c8c;
  font-family: Montserrat;
  font-weight: 200;
  font-size: 14px;
  &:hover{
    color: #8c8c8c;
  }
}

////////////////   REALIZATION   //////////////

.section__header {
  text-align: center;
  max-width: 760px;
  width: 100%;
  margin: 0 auto 50px auto;
}
.section__title{
  font-size: 30px;
  font-family: Raleway;
  font-weight: 800;
  color: #555555;

  margin-bottom: 30px;
}

.section__subtitle {
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 200;
  color: #8c8c8c;
}

.realization__inner{
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
}

.realization__img{
  position: absolute;
}

.realization__img-center{
  left: 50%;
  top: 0;
  z-index: 3;
  margin-right: -50%;
  transform: translate(-50%);
}

.browser-center{
  width: 750px;
}

.realization__img-right{
  left: 37%;
  top: 69px;
  z-index: 2;
}
.realization__img-left{
  left: 0;
  top: 69px;
}

.realization__footer{
  margin-top: 468px;
  height: 150px;
  width: 100%;
  background: linear-gradient(120deg, #231c1a, #4e3427);
}

.realization__flex{
  display: flex;
  justify-content: space-between;
}

.realization__wordPress{
  font-family: Raleway;
  font-weight: 400;
  font-size: 28px;
  color: #c7b299;
  padding:55px 0 10px 0;
}

.realization__wordPress-themes{
  color: #fff;
}

.realization__wordPress-text{
  font-family: Montserrat;
  font-weight: 200;
  font-size: 18px;
  color: #615855;
}

.realization__btn-container{
  margin-top: 75px;
}

.realization__btn{
  padding: 20px 30px;
  margin-top: 10px;
  background-color: #998675;
  border-bottom: 3px solid #736357;
  color: #fff;
  text-transform: uppercase;
  font-family: Raleway;
  font-weight: 800;
  border-radius: 5px;
  transition: background-color .2s;
  &:hover{
    background-color: $colorBrown;
  }
}

////////////////   PROJECTS   //////////////

.projects{
  margin-top: 90px;
}

.projects__list{
  display: flex;
  justify-content: center;
}

.projects__list-item{
  padding: 10px 25px;
  margin: 0 10px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  color: #8c8c8c;
  &:hover{
    background-color: #998675;
    color: #fff;
  }
  //&:active{
  //  background-color: #998675;
  //  color: #fff;
  //}
}

.gallery{
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gallery__item{
  background-color: #fbfaf8;
  height: 340px;
  margin-bottom: 40px;
  position: relative;
  &:hover{
    background-color: #362f2d;
  }
  &:hover .gallery__item-title{
    color: #fff;
  }
  &::before{
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    left: 25px;
    top: 226px;
    transform: rotate(45deg);
    border: 11px solid;
    border-color: #fbfaf8 transparent transparent #fbfaf8;
  }
  &:hover::before{
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    left: 25px;
    top: 226px;
    transform: rotate(45deg);
    border: 11px solid;
    border-color: #362f2d transparent transparent #362f2d;
  }
}

.gallery__photo{
  width: 370px;
  height: 237px;
}

.gallery__item-title{
  font-family: Raleway;
  font-weight: 500;
  font-size: 20px;
  color: #c7b299;
  padding: 26px 0 0 30px;
}

.gallery__item-tag{
  font-family: Montserrat;
  font-weight: 200;
  font-size: 14px;
  color: #d1d1d1;
  padding: 5px 0 0 30px;
}
















